---
import Layout from '../layouts/BlogPost.astro';
import MONADNOCK from "../assets/monadnock.jpg";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	heroImage={MONADNOCK}
>
	<p>TODO</p>
</Layout>
