---
import "../styles/global.css";
---

<style>
    .center {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    a{
        text-decoration: none;
        font-size: 2.4rem;
        color: black;
    }
</style>
<div class="bg-cyan-600 my-0.5">
    <div class="center">
        <a href="/">Chase Yalon's blog</a>
    </div>
</div>

