---
import { Image } from "astro:assets";
import "../styles/global.css";
import type { ImageMetadata } from "astro";

interface Props {
  headline: string,
  summary: string,
  image_path: ImageMetadata,
  link: string
}

const { headline, summary, image_path, link } = Astro.props;
---

<a class="no-underline text-black" href={link}>
    <div class="grid grid-cols-5 items-start gap-2 h-11">
        <!-- Text (headline + summary) -->
        <div class="col-span-4">
            <div class="grid grid-rows-2 gap-y-1">
                <h1 class="text-4xl h-6 my-3">{headline}</h1>
                <p class="text-xl h-3">{summary}</p>
            </div>
        </div>

        <!-- Image -->
        <div class="col-span-1">
            <Image src={image_path} alt="Image (placeholder)" />
        </div>
    </div>
</a>

